@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<figure>
    <figcaption>Listen:</figcaption>
    <audio
        controls
        src="~/audio.mp3">
        Your browser does not support the
        <code>audio</code> element.
    </audio>
</figure>

<p>Use this page to detail your site's privacy policy.</p>
